<!DOCTYPE html>
<html lang="en">
<!-- <head> -->
<%- include("common/head", { title }) -%>
<!-- </head> -->

<body>
  <!-- <header> -->
  <%- include("common/sidebar", { title }) -%>
  <!-- </header> -->
  <main>
    <%- include(component, props) -%>
  </main>
</body>
<script>
  document.documentElement
    .setAttribute( 'data-theme',
      localStorage.getItem( "theme" ) || "<%theme%>" )
</script>

</html>