@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */

@layer utilities {
  .shadow-around {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  }

  .shadow-comic {
    box-shadow: 8px 8px 0px -2px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-comic {
    text-shadow: 8px 8px 2px rgba(0, 0, 0, 0.5);
  }
}